.about_text {
  margin: 20px;
}

.text__header {
  margin-bottom: 1em;
}

.blockquote {
  max-width: 50%;
  margin: 1em 0 1em 1em;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
}

.texti_og_blockquote {
  display: flex;
  width: 1200px;
}

.texti_hja_blockquote {
  max-width: 50%;
}
