.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cardimg {
  width: 75%;
  height: 75%;
  margin-bottom: 2em;
  border-radius: 1000px;
}

.row_of_cards {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 5em;
}

.card_text {
  text-align: center;
}

.card__text__header {
  margin-bottom: 1em;
  font-style: italic;
}
