footer { /* stylelint-disable-line */
  margin-top: 6em;
}

.box {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  xtext-align: center;
  background: rgba(#000, 0.8);
}

.foobox {
  text-align: center;
  xdisplay: flex;
  xjustify-content: center;
  xalign-items: center;
  xleft: 50%;
}

.barbox {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #696969;
  text-align: center;
}

.barbarbox {
  border-top: 1px solid #696969;
}

.fooboxbox {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}
