.menubar {
  ul {/* stylelint-disable-line */
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
  }

  li {/* stylelint-disable-line */
    float: left;
  }

  li a {/* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

.header_mynd {

}
