.menubar {
  ul {/* stylelint-disable-line */
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
  }

  li {/* stylelint-disable-line */
    float: left;
  }

  li a {/* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
}

/* Stillir upp forsíðu mynd í index.html*/ /* stylelint-disable-line */
.forsida_forsida {
  background: url(img/bg.jpg); /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
/* Stillir upp forsíðu mynd í about.html*/ /* stylelint-disable-line */
.um_um {
  background: url(img/bg-subpage.jpg); /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
/* Stillir upp forsíðu mynd í kaupa.html*/ /* stylelint-disable-line */
.kaupa_kaupa {
  background: url(img/bg-subpage.jpg); /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


.header__content {
  min-height: 600px;
  text-align: center;
}

.takki {
  font-size: 30px;
}
