$max-width: 1200px;

.header {
  margin-bottom: 6em;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.menubar {
  position: fixed;
  z-index: 1;
  width: $max-width;
  height: 60px;
  overflow: hidden;
  background: rgba(#000, 1);
  border-radius: 10px;


  ul {/* stylelint-disable-line */
    width: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li { /* stylelint-disable-line */
    float: left;
  }

  li a { /* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  li a:hover { /* stylelint-disable-line */
    background-color: #333;
  }

  li a { /* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
}

/* Stillir upp forsíðu mynd í index.html */

/* stylelint-disable-line */

.forsida_forsida {
  background: url("img/bg.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* Stillir upp forsíðu mynd í about.html */

/* stylelint-disable-line */

.um_um {
  background: url("img/bg-subpage.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* Stillir upp forsíðu mynd í kaupa.html */
/* stylelint-disable-line */

.kaupa_kaupa {
  background: url("img/bg-subpage.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.um_um .header__content {
  display: flex;
  color: #fff;
}

.kaupa_kaupa .header__content {
  display: flex;
  color: #fff;
}

.header__content {
  display: flex;
  width: 100%;
  min-height: 800px;
  padding: 2em;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__content__header {
  font-size: 4em;
  animation: fadein 2s;
}

.header__content__text {
  font-size: 2.5em;
  animation: fadein 2s;
}

.header__takki {
  padding: 0.5em 1em;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  background: rgba(#505050, 0.8);
  border-radius: 5px;
  animation: fadein 2s;
}
