.listi {

}

.check {
  width: 25px;
}

.nedri_kaupa_takki {
  padding: 0.5em 2em;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  background: rgba(#505050, 0.8);
  border-radius: 5px;
}

.kaupa_spurning {
  text-align: center;
}

.kaupa_spurning h2 {
  margin-bottom: 2em;
  font-size: 2em;
}
