@charset "UTF-8";
*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

main {
  /* stylelint-disable-line */
  font-family: "Open Sans", sans-serif, helvetica, ariel; }

h1, h2, h3, a {
  /* stylelint-disable-line */
  font-family: "Roboto Slab", serif, helvetica, ariel; }

html {
  /* stylelint-disable-line */
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  margin-bottom: 20px; }

.col-12 {
  width: 100%; }

.col-8 {
  width: 66.66667%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

@media (max-width: 599px) {
  .col-sm-12 {
    width: 100%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-3 {
    width: 25%; } }

@media (max-width: 399px) {
  .col-xs-12 {
    width: 100%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-3 {
    width: 25%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

@media (max-width: 399px) {
  .offset-xs-0 {
    margin-left: 0; } }

header {
  margin-bottom: 6em; }

.menubar {
  position: fixed;
  z-index: 1;
  width: 1200px;
  height: 60px;
  overflow: hidden;
  background: black;
  border-radius: 10px; }
  .menubar ul {
    /* stylelint-disable-line */
    width: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .menubar li {
    /* stylelint-disable-line */
    float: left; }
  .menubar li a {
    /* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none; }
  .menubar li a:hover {
    /* stylelint-disable-line */
    background-color: #333; }
  .menubar li a {
    /* stylelint-disable-line */
    display: block;
    padding: 14px 16px;
    color: #fff;
    text-align: center;
    text-decoration: none; }

/* Stillir upp forsíðu mynd í index.html*/
/* stylelint-disable-line */
.forsida_forsida {
  background: url("img/bg.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

/* Stillir upp forsíðu mynd í about.html*/
/* stylelint-disable-line */
.um_um {
  background: url("img/bg-subpage.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

/* Stillir upp forsíðu mynd í kaupa.html*/
/* stylelint-disable-line */
.kaupa_kaupa {
  background: url("img/bg-subpage.jpg");
  /* stylelint-disable-line */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

.um_um .header__content {
  display: flex;
  color: #fff; }

.kaupa_kaupa .header__content {
  display: flex;
  color: #fff; }

header .header__content {
  /* stylelint-disable-line */
  display: flex;
  width: 100%;
  min-height: 800px;
  padding: 2em;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header__content h1 {
  /* stylelint-disable-line */
  font-size: 4em; }

.header__content p {
  /* stylelint-disable-line */
  font-size: 2.5em; }

.takki {
  padding: 0.5em 1em;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  background: rgba(80, 80, 80, 0.8);
  border-radius: 5px; }

.listi_og_mynd {
  display: flex;
  flex-wrap: wrap;
  width: 1200px; }

.check {
  width: 25px; }

.nedri_kaupa_takki {
  padding: 0.5em 2em;
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  background: rgba(80, 80, 80, 0.8);
  border-radius: 5px; }

.kaupa_spurning {
  text-align: center; }

.kaupa_spurning h2 {
  margin-bottom: 2em;
  font-size: 2em; }

.listi {
  max-width: 50%; }

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

.card img {
  width: 75%;
  height: 75%;
  margin-bottom: 2em;
  border-radius: 1000px; }

.row_of_cards {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-around; }

.card_text {
  text-align: center; }

.card_text h3 {
  margin-bottom: 1em;
  font-style: italic; }

footer {
  margin-top: 6em; }

.box {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  xtext-align: center;
  background: rgba(0, 0, 0, 0.8); }

.foobox {
  text-align: center;
  xdisplay: flex;
  xjustify-content: center;
  xalign-items: center;
  xleft: 50%; }

.barbox {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #d3d3d3;
  text-align: center; }

.barbarbox {
  border-top: 1px solid #d3d3d3; }

blockquote {
  margin: 1em 0 1em 2em;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
  xfont-family: 'Droid Serif', serif; }
