$max-width: 1200px;
$gutter: 20px;

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

main {  /* stylelint-disable-line */
  font-family: "Open Sans", sans-serif, helvetica, ariel;
}

h1, h2, h3, a {/* stylelint-disable-line */
  font-family: "Roboto Slab", serif, helvetica, ariel;
}
html { /* stylelint-disable-line */
  // til þess að texti liggi ekki upp við brún á viewport þegar
  // við erum < 1200px breiðum skjá, setjum margin á báða kanta html
  // ruglar líka ekki í grid overlay
  margin-right: $gutter/2;
  margin-left: $gutter/2;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow-x: hidden;
}

@import "scss/grid";
@import "scss/header";
@import "scss/listi";
@import "scss/card";
@import "scss/footer";
@import "scss/blockquote";
@import "scss/kaupa";
